<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" data-backdrop="static" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-muted">{{ titulo }}</h4>
          <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="alumno" class="list-group text-dark mb-3">
                  <li class="list-group-item bg-info text-white">{{alumno.nombre}} {{alumno.apellido}}</li>
                  <li class="list-group-item">Identificación: {{alumno.identificacion}}</li>
                  <li class="list-group-item">Edad: {{alumno.edad}}</li>
                  <li class="list-group-item">Dirección: {{alumno.direccion}}</li>
                  <li class="list-group-item">Telefono: {{alumno.telefono}}</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Asignaturas</h4>
                <div *ngIf="alumno.asignaturas.length == 0" class="alert alert-info my-4">
                  No hay asignaturas asignadas para el alumno {{alumno.nombre}} {{alumno.apellido}}
                </div>
              </div>
              <div class="col-md-12">
                <table *ngIf="alumno.asignaturas.length > 0" class="table table-bordered table-striped my-4">
                  <thead>
                    <tr>
                      <th>Asignatura</th>
                      <th>Año</th>
                      <th>Calificaci&oacute;n</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let asignatura of alumno.asignaturas ">
                      <td>{{asignatura.nombre}}</td>
                      <td>{{asignatura.anioLectivo}}</td>
                      <td>{{asignatura.calificacion}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
